// app global css in SCSS form
.img-hover {
  cursor: pointer;
  transition: all 3s ease 0s;
  &:hover {
    transform: scale(1.3, 1.3);
  }
}

@font-face {
  font-family: Han Sans;
  src: url(./fonts/SourceHanSansCN-Normal.subset.otf);
}

.my-font {
  font-family: 'Han Sans';
}
