// app global css in SCSS form
.img-hover {
  cursor: pointer;
  transition: all 3s ease 0s;
  &:hover {
    transform: scale(1.3, 1.3);
  }
}

@font-face {
  font-family: ALiPuHui;
  src: url(./fonts/AlibabaSans-Regular.otf);
}

.my-font {
  font-family: 'ALiPuHui';
}
